
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                Hello, Baby!
            </h1>
            <button class="btn btn-default">
                @Html.ActionLink("Add Song", "CreateSong", "Lib") 
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10">
                <h2 class="text-center">Song List</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="lead">
                                        Name
                                    </h3>
                                </th>
                                <th>
                                    <h3 class="lead">
                                        Artist Name
                                    </h3>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var s in ViewBag.Songs)
                        {
                            <tbody>
                            <td>
                                <p>@Html.ActionLink($"{@s.Name}", "SongDetails", new { Id = s.Id })</p>
                            </td>
                            <td>
                                <p>@s.Artist.Name</p>
                            </td>
                            <td>
                                @Html.ActionLink("x", "DeleteSong", new {Id = s.Id })
                            </td>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Genres List</h2>
                        <ul class="list-group">
                            @foreach (var g in ViewBag.Genres)
                            {
                                <a href="#" class="list-group-item">@g.Name</a>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Artist List</h2>
                        <ul class="list-group">
                            @foreach (var a in ViewBag.Artists)
                            {
                                <a href="#" class="list-group-item">@a.Name</a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

